body {
  font-size: 20px;
  padding: 20px;
}

input {
  margin-top: 20px;
  font-size: 18px;
}

img {
  margin-top: 100px;
}

#start {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 13px;
}

#circleTimer {
  text-align: center;
  color: #263665;
  display: none;
  position: relative;
  top: 30px;
  width: 300px;
  margin: 0 auto;
}

h1 {
  color: #924e96;
}

button[data-setter] {
  outline: none;
  background: transparent;
  border: none;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  width: 25px;
  height: 30px;
  color: #75cc7b;
  cursor: pointer;
}

button[data-setter]:hover { opacity: 0.5; }

.setters {
  position: absolute;
  left: 85px;
  top: 75px;
}

.minutes-set {
  float: left;
  margin-right: 28px;
}

.seconds-set { float: right; }

.controlls {
  position: absolute;
  left: 75px;
  top: 160px;
  text-align: center;
}

.display-remain-time {
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 65px;
  color: #75cc7b;
}

#pause {
  outline: none;
  background: transparent;
  border: none;
  margin-top: 10px;
  width: 50px;
  height: 50px;
  position: relative;
}

.play::before {
  display: block;
  content: "";
  position: absolute;
  top: 8px;
  left: 16px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 22px solid #75cc7b;
}

.pause::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 12px;
  width: 15px;
  height: 30px;
  background-color: transparent;
  border-radius: 1px;
  border: 5px solid #75cc7b;
  border-top: none;
  border-bottom: none;
}

#pause:hover { opacity: 0.8; }

.e-c-base {
  fill: none;
  stroke: #B6B6B6;
  stroke-width: 4px
}

.e-c-progress {
  fill: none;
  stroke: #75cc7b;
  stroke-width: 4px;
  transition: stroke-dashoffset 0.7s;
}

.e-c-pointer {
  fill: #FFF;
  stroke: #75cc7b;
  stroke-width: 2px;
}

#e-pointer { transition: transform 0.7s; }
